# ***NOTE: Some of the cells in this notebook call functions which require user input!!!
## If you selct "Run All" from the menu bar then you will be prompted to input the requested information for each of the cells requesting input.
### The command pallet provides the list of valid symbols and years to choose from but they are as follows: 
### Valid inputs for "symbol" are: ('AAPL', 'AMD', 'AMZN', 'CSCO', 'META', 'MSFT', 'NFLX', 'QCOM', 'SBUX', 'TSLA')
### Valid inputs for "year" are : ('2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022')

# The following cell defines the function to read in ten years of historic stock data from the file associated with the user's input and creates a Pandas dataframe.

In [110]:
def get_data_local_csv():
    """
    Request user input. Read in then clean/transform data from a local CSV file.

    This function asks the user to imput a valid stock symbol from the list provided.
    Valid symbols can be entered in lower, upper or mixed case. 
    It takes that input and reads in data from the corrosponding local .csv file. 
    It then cleans/transforms the data into a pandas dataframe.
    The user only gets three attempts to enter a valid stock symbol from the list provided and 
    then the function terminates and returns a message.
    If no corrosponding file is found the function terminates and returns a message.
    

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    MSFT, AAPL
    """ 

    import pandas as pd
    from datetime import date, datetime

    pd.set_option('display.max_columns', 20)
    pd.set_option('display.width', 1000)
    
    try: # Handles the condition of no dataframe returned (UnboundLocalError) due to no valid input after 3 attempts or file not found error.
        try: # Handles the conditions of a either a valid or invalid input or a FileNotFound error.
            for x in range(3): # Sets the input attempt range to 3 to avoid an infinite run condition.
                symbols = ['AAPL', 'AMD', 'AMZN', 'CSCO', 'META', 'MSFT', 'NFLX', 'QCOM', 'SBUX', 'TSLA'] # List of valid stock symbols for input.
                symbol = input("Please enter one of the following symbols!" + str(symbols)).upper() # User input statement.
                print("User selected " + symbol)
                if symbol in symbols: # Checks for valid input.
                    df = pd.read_csv('assets/HistoricalData_' + symbol + '.csv') # Read in data from local CSV file.
                    df['Symbol'] = symbol # Adds the "Symbol" column to the dataframe.
                    df['Open'] = df['Open'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['High'] = df['High'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['Low'] = df['Low'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['Close/Last'] = df['Close/Last'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df.rename(columns={'Close/Last': 'Close'}, inplace=True) # Renames "Close/Last" column to "Close"
                    df['Date'] = pd.to_datetime(df['Date']) # Sets "Date" column to type datetime.
                    df['Year'] = df['Date'].dt.year # The next 6 rows seperates the "Date" column into it's individual components.
                    df['Month'] = df['Date'].dt.month
                    df['Day'] = df['Date'].dt.day
                    df['Week Num'] = df.Date.apply(lambda x:x.isocalendar()[1])
                    df['Day Num'] = df['Date'].dt.day_of_week
                    df['Day Name'] = df['Date'].dt.day_name()
                    break # Breaks loop on successful execution.
                elif x < 2: # Checks range variable for value on unsuccessful execution.
                    print("You have entered an invalid symbol! Please try again!") 
                else: # Informs user that the function is terminating after 3 invalid entries.
                    print("Function terminates after three invalid entries!")
                
        except FileNotFoundError: 
            print("File Not Found!")
        return df # Returns pandas dataframe on successful execution.

    except UnboundLocalError:
        print("No dataframe returned!")

# The following cell calls the function above to confirm the data.

In [111]:
get_data_local_csv()

User selected NFLX

           Date     Close    Volume      Open      High       Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name
0    2022-09-27  224.3600   7762223  228.6300  230.6400  220.7200   NFLX  2022      9   27        39        1    Tuesday
1    2022-09-26  224.0700   8234285  225.6000  232.7000  223.0100   NFLX  2022      9   26        39        0     Monday
2    2022-09-23  226.4100  11207230  235.1400  236.4499  221.4300   NFLX  2022      9   23        38        4     Friday
3    2022-09-22  237.0500  10017970  235.3500  240.5000  231.6600   NFLX  2022      9   22        38        3   Thursday
4    2022-09-21  236.8700   9166772  242.6700  248.2999  236.6800   NFLX  2022      9   21        38        2  Wednesday
...         ...       ...       ...       ...       ...       ...    ...   ...    ...  ...       ...      ...        ...
2510 2012-10-04    9.5243  91437177    8.9500    9.6100    8.9443   NFLX  2012     10    4        40        3   Thursday
2511 2012-10-03    8.9400  75872673    8.3414    8.9500    8.3214   NFLX  2012     10    3        40        2  Wednesday
2512 2012-10-02    8.0657  21551858    8.0643    8.1843    7.9000   NFLX  2012     10    2        40        1    Tuesday
2513 2012-10-01    8.0071  30735777    7.8000    8.0857    7.7629   NFLX  2012     10    1        40        0     Monday
2514 2012-09-28    7.7771  15890474    7.8629    7.9729    7.7457   NFLX  2012      9   28        39        4     Friday

[2515 rows x 13 columns]

# The following cell defines the function to filter the dataframe by the symbol and year associated with the user's input.

In [112]:
def filter_by_year():
    """
    Requests user input. Reads in then cleans/transforms data from a local CSV file.

    This function calls the get_data_local_csv() function and then asks the user to imput a valid year from the list provided. 
    It takes that input and filters the current dataframe. 
    The user only gets three attempts to enter a valid year from the list provided and 
    then the function terminates and returns a message.
    If the datafram is not returned a message is printed.

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    2012, 2022
    """

    df = get_data_local_csv()
    try:
        for x in range(3): # Sets the input attempt range to 3 to avoid an infinite run condition.
            years = ['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'] # List of valid years for input.
            year = input("Please enter one of the following years!" + str(years)) # User input statement.
            print("User selected " + year)
            if year in years: # Checks for valid input.
                is_year = df["Year"] == int(year) # Filter dataframe to only requested year.
                df_yr = df[is_year]
                break # Breaks loop on successful execution.
            elif x < 2: # Checks range variable for value on unsuccessful execution.
                print("You have entered an invalid year! Please try again!") 
            else: # Informs user that the function is terminating after 3 invalid entries.
                print("Function terminates after three invalid entries!")

        return df_yr # Returns pandas dataframe on successful execution.

    except UnboundLocalError:
        print("No dataframe returned!")

# The following cell calls the function above to confirm the data.

In [113]:
filter_by_year()

User selected QCOM
User selected 2019

          Date  Close    Volume   Open   High      Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name
690 2019-12-31  88.23   5173531  87.99  88.77  87.8800   QCOM  2019     12   31         1        1    Tuesday
691 2019-12-30  88.43   6545516  88.71  88.78  87.3100   QCOM  2019     12   30         1        0     Monday
692 2019-12-27  88.80   5809692  88.90  88.95  88.0900   QCOM  2019     12   27        52        4     Friday
693 2019-12-26  88.40   5072875  88.92  88.96  87.9965   QCOM  2019     12   26        52        3   Thursday
694 2019-12-24  88.77   2435244  88.62  88.81  87.9800   QCOM  2019     12   24        52        1    Tuesday
..         ...    ...       ...    ...    ...      ...    ...   ...    ...  ...       ...      ...        ...
937 2019-01-08  55.95  12108720  56.71  56.88  55.6100   QCOM  2019      1    8         2        1    Tuesday
938 2019-01-07  56.44  12316290  56.39  57.16  55.9450   QCOM  2019      1    7         2        0     Monday
939 2019-01-04  56.60  14175400  56.50  56.83  55.2101   QCOM  2019      1    4         1        4     Friday
940 2019-01-03  55.70  14395960  55.95  56.84  55.5200   QCOM  2019      1    3         1        3   Thursday
941 2019-01-02  57.40   9885460  56.20  58.00  55.9200   QCOM  2019      1    2         1        2  Wednesday

[252 rows x 13 columns]

# The following cell defines the function to read in ten years of historic stock data from the file associated with the user's input, create a Pandas dataframe and perform specific calculations on the data and print the results.

In [114]:
def hist_calculations():
    """
    Request user input. Read in then clean/transform/calculate data from a local CSV file.

    This function asks the user to imput a valid stock symbol from the list provided.
    Valid symbols can be entered in lower, upper or mixed case. 
    It takes that input and reads in data from the corrosponding local .csv file. 
    It then cleans/transforms the data into a pandas dataframe, performs specific calculations
    and prints the result.
    The user only gets three attempts to enter a valid stock symbol from the list provided and 
    then the function terminates and returns a message.
    If no corrosponding file is found the function terminates and returns a message.
    

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    MSFT, AAPL
    """
    
    df = get_data_local_csv() # Reads in 10 years of historical data on selected symbol.
    first_close = df['Close'].values[-1] # Retrieve values.
    last_close = df['Close'].values[0]
    historic_return = (((last_close - first_close) / first_close) * 100).round() # First calculation.
    print("The historical rate of return is " + "%" + str(historic_return))
    avg_open = df['Open'].mean().round(2) # Second Calculation.
    avg_close = df['Close'].mean().round(2) # Third Calculation.
    avg_vol = df['Volume'].mean().round(2) # Fourth Calculation.
    df['HL_Delta'] = df['High'] - df['Low'] 
    avg_delta = df["HL_Delta"].mean().round(3) #Fifth Calculation
    print("The average opening price is $" + str(avg_open))
    print("The average closing price is $" + str(avg_close))
    print("The average volume is " + str(avg_vol))
    print("The average difference between the High and Low price is $" + str(avg_delta))
    return df

# The following cell calls the function above to confirm the data.

In [115]:
hist_calculations()

User selected TSLA
The historical rate of return is %14395.0
The average opening price is $68.19
The average closing price is $68.17
The average volume is 109787360.57
The average difference between the High and Low price is $3.222

           Date     Close    Volume      Open      High       Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name  HL_Delta
0    2022-09-27  282.9400  61925190  283.8400  288.6700  277.5100   TSLA  2022      9   27        39        1    Tuesday   11.1600
1    2022-09-26  276.0100  58076910  271.8300  284.0900  270.3100   TSLA  2022      9   26        39        0     Monday   13.7800
2    2022-09-23  275.3300  63748360  283.0900  284.5000  272.8200   TSLA  2022      9   23        38        4     Friday   11.6800
3    2022-09-22  288.5900  70545410  299.8600  301.2900  285.8200   TSLA  2022      9   22        38        3   Thursday   15.4700
4    2022-09-21  300.8000  62555660  308.2900  313.8000  300.6300   TSLA  2022      9   21        38        2  Wednesday   13.1700
...         ...       ...       ...       ...       ...       ...    ...   ...    ...  ...       ...      ...        ...       ...
2510 2012-10-04    1.9600  23118093    2.0000    2.0067    1.9100   TSLA  2012     10    4        40        3   Thursday    0.0967
2511 2012-10-03    1.9533  15745762    1.9833    1.9967    1.9493   TSLA  2012     10    3        40        2  Wednesday    0.0474
2512 2012-10-02    1.9867  10934530    1.9520    1.9927    1.9333   TSLA  2012     10    2        40        1    Tuesday    0.0594
2513 2012-10-01    1.9440  13264568    1.9667    1.9927    1.9333   TSLA  2012     10    1        40        0     Monday    0.0594
2514 2012-09-28    1.9520  65140302    1.9153    1.9927    1.9073   TSLA  2012      9   28        39        4     Friday    0.0854

[2515 rows x 14 columns]

# The following cell defines the function to read in one year of historic stock data from the file associated with the user's input, create a Pandas dataframe and perform specific calculations on the data and print the results.

In [116]:
def annual_calculations():
    """
    Request user input. Read in then clean/transform/calcualte data from a local CSV file.

    This function asks the user to imput a valid stock symbol and year from the lists provided.
    Valid symbols can be entered in lower, upper or mixed case.
    It takes that input and reads in data from the corrosponding local .csv file. 
    It then cleans/transforms the data into a pandas dataframe, performs specific calculations
    and prints the result.
    The user only gets three attempts to enter a valid stock symbol from the list provided and 
    then the function terminates and returns a message.
    If no corrosponding file is found the function terminates and returns a message.
    

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    MSFT, AAPL
    """
    
    df = filter_by_year() # Reads in one year of historical data on selected symbol and year.
    first_close = df['Close'].values[-1] # Retrieve values.
    last_close = df['Close'].values[0]
    annual_return = (((last_close - first_close) / first_close) * 100).round()# First calculation.
    print("The annual rate of return is " + "%" + str(annual_return))
    avg_open = df['Open'].mean().round(2) # Second Calculation.
    avg_close = df['Close'].mean().round(2) # Third Calculation.
    avg_vol = df['Volume'].mean().round(2) # Fourth Calculation.
    df['HL_Delta'] = df['High'] - df['Low']
    avg_delta = df["HL_Delta"].mean().round(3) #Fifth Calculation
    print("The average opening price is $" + str(avg_open))
    print("The average closing price is $" + str(avg_close))
    print("The average volume is " + str(avg_vol))
    print("The average difference between the High and Low price is $" + str(avg_delta))
    return df

# The following cell calls the function above to confirm the data.

In [117]:
annual_calculations()

User selected SBUX
User selected 2014
The annual rate of return is %6.0
The average opening price is $37.8
The average closing price is $37.77
The average volume is 9528910.15
The average difference between the High and Low price is $0.578

           Date   Close    Volume    Open     High      Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name  HL_Delta
1948 2014-12-31  41.025   7625618  41.095  41.6650  41.0000   SBUX  2014     12   31         1        2  Wednesday    0.6650
1949 2014-12-30  40.895   5233924  41.035  41.4400  40.8950   SBUX  2014     12   30         1        1    Tuesday    0.5450
1950 2014-12-29  41.190   4778488  40.830  41.2750  40.7500   SBUX  2014     12   29         1        0     Monday    0.5250
1951 2014-12-26  40.915   4548360  40.715  41.2000  40.6900   SBUX  2014     12   26        52        4     Friday    0.5100
1952 2014-12-24  40.635   2602398  40.735  40.9300  40.5900   SBUX  2014     12   24        52        2  Wednesday    0.3400
...         ...     ...       ...     ...      ...      ...    ...   ...    ...  ...       ...      ...        ...       ...
2195 2014-01-08  39.015  10160490  38.640  39.0735  38.5950   SBUX  2014      1    8         2        2  Wednesday    0.4785
2196 2014-01-07  38.605   8162140  38.325  38.7050  38.2350   SBUX  2014      1    7         2        1    Tuesday    0.4700
2197 2014-01-06  38.085  10585410  38.450  38.6750  38.0050   SBUX  2014      1    6         2        0     Monday    0.6700
2198 2014-01-03  38.475   6540374  38.650  38.8850  38.4700   SBUX  2014      1    3         1        4     Friday    0.4150
2199 2014-01-02  38.585   8487286  39.035  39.1350  38.5025   SBUX  2014      1    2         1        3   Thursday    0.6325

[252 rows x 14 columns]