In [46]:
def get_data_local_csv():
    """
    Request user input. Read in then clean/transform data from a local CSV file.

    This function asks the user to imput a valid stock symbol from the list provided.
    Valid symbols can be entered in lower, upper or mixed case. 
    It takes that input and reads in data from the corrosponding local .csv file. 
    It then cleans/transforms the data into a pandas dataframe.
    The user only gets three attempts to enter a valid stock symbol from the list provided and 
    then the function terminates and returns a message.
    If no corrosponding file is found the function terminates and returns a message.
    

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    MSFT, AAPL
    """ 

    import pandas as pd
    from datetime import date, datetime

    pd.set_option('display.max_columns', 20)
    pd.set_option('display.width', 1000)
    
    try: # Handles the condition of no dataframe returned (UnboundLocalError) due to no valid input after 3 attempts or file not found error.
        try: # Handles the conditions of a either a valid or invalid input or a FileNotFound error.
            for x in range(3): # Sets the input attempt range to 3 to avoid an infinite run condition.
                symbols = ['AAPL', 'AMD', 'AMZN', 'CSCO', 'META', 'MSFT', 'NFLX', 'QCOM', 'SBUX', 'TSLA'] # List of valid stock symbols for input.
                symbol = input("Please enter one of the following symbols!" + str(symbols)).upper() # User input statement.
                if symbol in symbols: # Checks for valid input.
                    df = pd.read_csv('assets/HistoricalData_' + symbol + '.csv') # Read in data from local CSV file.
                    df['Symbol'] = symbol # Adds the "Symbol" column to the dataframe.
                    df['Open'] = df['Open'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['High'] = df['High'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['Low'] = df['Low'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df['Close/Last'] = df['Close/Last'].str.replace("$", '', regex=True).astype(float) # Removes the $ from the data in the column and sets type to float.
                    df.rename(columns={'Close/Last': 'Close'}, inplace=True) # Renames "Close/Last" column to "Close"
                    df['Date'] = pd.to_datetime(df['Date']) # Sets "Date" column to type datetime.
                    df['Year'] = df['Date'].dt.year # The next 6 rows seperates the "Date" column into it's individual components.
                    df['Month'] = df['Date'].dt.month
                    df['Day'] = df['Date'].dt.day
                    df['Week Num'] = df.Date.apply(lambda x:x.isocalendar()[1])
                    df['Day Num'] = df['Date'].dt.day_of_week
                    df['Day Name'] = df['Date'].dt.day_name()
                    break # Breaks loop on successful execution.
                elif x < 2: # Checks range variable for value on unsuccessful execution.
                    print("You have entered an invalid symbol! Please try again!") 
                else: # Informs user that the function is terminating after 3 invalid entries.
                    print("Function terminates after three invalid entries!")
                
        except FileNotFoundError: 
            print("File Not Found!")
        return df # Returns pandas dataframe on successful execution.

    except UnboundLocalError:
        print("No dataframe returned!")

In [47]:
get_data_local_csv()

           Date    Close    Volume    Open    High     Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name
0    2022-09-27  84.2800   8628753  85.970  86.500  83.170   SBUX  2022      9   27        39        1    Tuesday
1    2022-09-26  84.8100   7583548  84.310  86.025  84.280   SBUX  2022      9   26        39        0     Monday
2    2022-09-23  84.1700   7153192  83.900  84.440  83.225   SBUX  2022      9   23        38        4     Friday
3    2022-09-22  84.7000   9953048  88.000  88.020  84.380   SBUX  2022      9   22        38        3   Thursday
4    2022-09-21  88.6000   8806754  91.290  91.520  88.570   SBUX  2022      9   21        38        2  Wednesday
...         ...      ...       ...     ...     ...     ...    ...   ...    ...  ...       ...      ...        ...
2510 2012-10-04  24.5500  24813860  24.945  24.965  24.380   SBUX  2012     10    4        40        3   Thursday
2511 2012-10-03  24.7450  15038688  24.825  24.915  24.525   SBUX  2012     10    3        40        2  Wednesday
2512 2012-10-02  24.6500  21740440  25.220  25.220  24.400   SBUX  2012     10    2        40        1    Tuesday
2513 2012-10-01  25.0725  15429746  25.465  25.650  24.950   SBUX  2012     10    1        40        0     Monday
2514 2012-09-28  25.3550  16058016  25.280  25.480  24.945   SBUX  2012      9   28        39        4     Friday

[2515 rows x 13 columns]

In [48]:
def filter_by_year():
    """
    Requests user input. Reads in then cleans/transforms data from a local CSV file.

    This function calls the get_data_local_csv() function and then asks the user to imput a valid year from the list provided. 
    It takes that input and filters the current dataframe. 
    The user only gets three attempts to enter a valid year from the list provided and 
    then the function terminates and returns a message.
    If the datafram is not returned a message is printed.

    Parameters
    ----------
    None

    Returns
    -------
    pandas dataframe

    Examples
    --------
    2012, 2022
    """

    df = get_data_local_csv()
    try:
        for x in range(3): # Sets the input attempt range to 3 to avoid an infinite run condition.
            years = ['2012', '2103', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'] # List of valid years for input.
            year = input("Please enter one of the following years!" + str(years)) # User input statement.
            if year in years: # Checks for valid input.
                is_year = df["Year"] == int(year) # Filter dataframe to only requested year.
                df_yr = df[is_year]
                break # Breaks loop on successful execution.
            elif x < 2: # Checks range variable for value on unsuccessful execution.
                print("You have entered an invalid year! Please try again!") 
            else: # Informs user that the function is terminating after 3 invalid entries.
                print("Function terminates after three invalid entries!")

        return df_yr # Returns pandas dataframe on successful execution.

    except UnboundLocalError:
        print("No dataframe returned!")

In [49]:
filter_by_year()

           Date   Close    Volume    Open    High     Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name
2452 2012-12-31  2.2580   8922686  2.2000  2.2647  2.2000   TSLA  2012     12   31         1        0     Monday
2453 2012-12-28  2.2147   6210522  2.2253  2.2433  2.2013   TSLA  2012     12   28        52        4     Friday
2454 2012-12-27  2.2460   8416271  2.2333  2.2607  2.2000   TSLA  2012     12   27        52        3   Thursday
2455 2012-12-26  2.2393   9020755  2.2640  2.3000  2.2333   TSLA  2012     12   26        52        2  Wednesday
2456 2012-12-24  2.2853   5636937  2.2427  2.2900  2.2367   TSLA  2012     12   24        52        0     Monday
...         ...     ...       ...     ...     ...     ...    ...   ...    ...  ...       ...      ...        ...
2510 2012-10-04  1.9600  23118093  2.0000  2.0067  1.9100   TSLA  2012     10    4        40        3   Thursday
2511 2012-10-03  1.9533  15745762  1.9833  1.9967  1.9493   TSLA  2012     10    3        40        2  Wednesday
2512 2012-10-02  1.9867  10934530  1.9520  1.9927  1.9333   TSLA  2012     10    2        40        1    Tuesday
2513 2012-10-01  1.9440  13264568  1.9667  1.9927  1.9333   TSLA  2012     10    1        40        0     Monday
2514 2012-09-28  1.9520  65140302  1.9153  1.9927  1.9073   TSLA  2012      9   28        39        4     Friday

[63 rows x 13 columns]

In [92]:
def hist_calculations():
    df = get_data_local_csv() # Reads in 10 years of historical data on selected symbol.
    first_close = df['Close'].values[-1] # Retrieve values.
    last_close = df['Close'].values[0]
    historic_return = (((last_close - first_close) / first_close) * 100).round() # First calculation.
    print("The historical rate of return is " + "%" + str(historic_return))
    avg_open = df['Open'].mean().round(2) # Second Calculation.
    avg_close = df['Close'].mean().round(2) # Third Calculation.
    avg_vol = df['Volume'].mean().round(2) # Fourth Calculation.
    df['HL_Delta'] = df['High'] - df['Low'] 
    avg_delta = df["HL_Delta"].mean().round(3) #Fifth Calculation
    print("The average opening price is $" + str(avg_open))
    print("The average closing price is $" + str(avg_close))
    print("The average volume is " + str(avg_vol))
    print("The average difference between the High and Low price is $" + str(avg_delta))
    return df

In [93]:
hist_calculations()

The historical rate of return is %14395.0
The average opening price is $68.19
The average closing price is $68.17
The average volume is 109787360.57
The average difference between the High and Low price is $3.222

           Date     Close    Volume      Open      High       Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name  HL_Delta
0    2022-09-27  282.9400  61925190  283.8400  288.6700  277.5100   TSLA  2022      9   27        39        1    Tuesday   11.1600
1    2022-09-26  276.0100  58076910  271.8300  284.0900  270.3100   TSLA  2022      9   26        39        0     Monday   13.7800
2    2022-09-23  275.3300  63748360  283.0900  284.5000  272.8200   TSLA  2022      9   23        38        4     Friday   11.6800
3    2022-09-22  288.5900  70545410  299.8600  301.2900  285.8200   TSLA  2022      9   22        38        3   Thursday   15.4700
4    2022-09-21  300.8000  62555660  308.2900  313.8000  300.6300   TSLA  2022      9   21        38        2  Wednesday   13.1700
...         ...       ...       ...       ...       ...       ...    ...   ...    ...  ...       ...      ...        ...       ...
2510 2012-10-04    1.9600  23118093    2.0000    2.0067    1.9100   TSLA  2012     10    4        40        3   Thursday    0.0967
2511 2012-10-03    1.9533  15745762    1.9833    1.9967    1.9493   TSLA  2012     10    3        40        2  Wednesday    0.0474
2512 2012-10-02    1.9867  10934530    1.9520    1.9927    1.9333   TSLA  2012     10    2        40        1    Tuesday    0.0594
2513 2012-10-01    1.9440  13264568    1.9667    1.9927    1.9333   TSLA  2012     10    1        40        0     Monday    0.0594
2514 2012-09-28    1.9520  65140302    1.9153    1.9927    1.9073   TSLA  2012      9   28        39        4     Friday    0.0854

[2515 rows x 14 columns]

In [88]:
def annual_calculations():
    df = filter_by_year() # Reads in one year of historical data on selected symbol and year.
    first_close = df['Close'].values[-1] # Retrieve values.
    last_close = df['Close'].values[0]
    annual_return = (((last_close - first_close) / first_close) * 100).round()# First calculation.
    print("The annual rate of return is " + "%" + str(annual_return))
    avg_open = df['Open'].mean().round(2) # Second Calculation.
    avg_close = df['Close'].mean().round(2) # Third Calculation.
    avg_vol = df['Volume'].mean().round(2) # Fourth Calculation.
    df['HL_Delta'] = df['High'] - df['Low']
    avg_delta = df["HL_Delta"].mean().round(3) #Fifth Calculation
    print("The average opening price is $" + str(avg_open))
    print("The average closing price is $" + str(avg_close))
    print("The average volume is " + str(avg_vol))
    print("The average difference between the High and Low price is $" + str(avg_delta))
    return df

In [89]:
annual_calculations()

The annual rate of return is %16.0
The average opening price is $2.08
The average closing price is $2.09
The average volume is 16047091.7
The average difference between the High and Low price is $0.07

           Date   Close    Volume    Open    High     Low Symbol  Year  Month  Day  Week Num  Day Num   Day Name  HL_Delta
2452 2012-12-31  2.2580   8922686  2.2000  2.2647  2.2000   TSLA  2012     12   31         1        0     Monday    0.0647
2453 2012-12-28  2.2147   6210522  2.2253  2.2433  2.2013   TSLA  2012     12   28        52        4     Friday    0.0420
2454 2012-12-27  2.2460   8416271  2.2333  2.2607  2.2000   TSLA  2012     12   27        52        3   Thursday    0.0607
2455 2012-12-26  2.2393   9020755  2.2640  2.3000  2.2333   TSLA  2012     12   26        52        2  Wednesday    0.0667
2456 2012-12-24  2.2853   5636937  2.2427  2.2900  2.2367   TSLA  2012     12   24        52        0     Monday    0.0533
...         ...     ...       ...     ...     ...     ...    ...   ...    ...  ...       ...      ...        ...       ...
2510 2012-10-04  1.9600  23118093  2.0000  2.0067  1.9100   TSLA  2012     10    4        40        3   Thursday    0.0967
2511 2012-10-03  1.9533  15745762  1.9833  1.9967  1.9493   TSLA  2012     10    3        40        2  Wednesday    0.0474
2512 2012-10-02  1.9867  10934530  1.9520  1.9927  1.9333   TSLA  2012     10    2        40        1    Tuesday    0.0594
2513 2012-10-01  1.9440  13264568  1.9667  1.9927  1.9333   TSLA  2012     10    1        40        0     Monday    0.0594
2514 2012-09-28  1.9520  65140302  1.9153  1.9927  1.9073   TSLA  2012      9   28        39        4     Friday    0.0854

[63 rows x 14 columns]